* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1c1430;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial;
    padding: 20px;
}

/* Styles pour les formulaires de rentrées (ajout_depense.php, modif_depense.php) */
form {
    background: #1B103E;
    padding: 20px;
    border-radius: 8px;
    width: 420px;
    margin: auto;
    height: 540px;
     margin-left: 650px;
}

input, select {
    display: flex;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #2A1F45;
    color: white;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 25px;

}
h3 {
    text-align: center;
    color: white;
   margin-top: 25px;
}
.desc {
    height: 80px;
    resize: none;
}


/* Effets hover pour les boutons submit et reset */
input[type="submit"]:hover {
    background: #5a0a9d;
    transition: all 0.2s ease;
}

input[type="button"]:hover {
    background: #5a0a9d;
    transition: all 0.2s ease;
}


input[type="submit"],input[type="button"]  {
  background-color: rgb(116, 48, 180);
  color: white;
  border-radius: 3px;
  padding: 8px;
  flex: 1;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease;
}