* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #1C1430;
  height: 90vh;
}

form{
  display: flex;
  flex-direction: column;
  background-color: #1B103E;
  padding: 3rem;
  border-radius: 12px;
  color: rgb(255, 255, 255);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   height: 550px;
   margin:auto; 
   width: 30.5% ;
    margin-top: 5%;
   font-size: large;
   margin-right: 385px;
   margin-top: 35px;

}
h3{
  text-align: center;

}
hr{
  margin: 10px ;
}

input[type="submit"],input[type="reset"]  {
  background-color: rgb(116, 48, 180);
  color: white;
  border-radius: 3px;
  padding: 8px;
  flex: 1;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #5a0a9d;
}
.conf{
  display: flex;
  gap: 5px;
  margin-top: 25px;
}

p{
  text-align: center;
  font-size: 16px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #2A1F45;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
font-size: 15px;
}