.entete {
    display: flex;
    align-items: center;
    background-color: #1C1430;
    color: white;
    padding: 1px 15px 1px 20px;
    font-family: 'Poppins', sans-serif;
}

.prop {
    margin-left: auto;
    margin-right: 10px;
}

.entete a {
    color: white;
    text-decoration: none;
}

.entete a:hover {
    text-decoration: none;
    
}
.logo {
    height: 60px;
}

.site-title {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}