body {
     background-color: #1C1430;  
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* formilaire */

form{
  display: flex;
  flex-direction: column;
  background-color: #1B103E;
  padding: 3rem;
  border-radius: 12px;
  color: rgb(255, 255, 255);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   height: 415px;
   margin:auto; 
   width: 30.5% ;
   margin-top: 4%;
   font-size: large;
   margin-right: 27%;

}

/* label*/
label{
    display: block;
    margin-top: 15px;       
}
/* input et select */
input[type="text"],
input[type="number"],
select {
      display: flex;
    width: 100%;
    margin: 2px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #2A1F45;
    color: white;
    box-sizing: border-box;
    font-size: 16px;

}
p{
     font-size: 16px;
     font-weight: 400; 
     margin-top: 8px;
}

button:hover {
    background: linear-gradient(to right, #a64bf4, #8a2be2);
}
input[type="submit"],input[type="button"]  {
  background-color: rgb(116, 48, 180);
  color: white;
  border-radius: 3px;
  padding: 8px;
  flex: 1;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #5a0a9d;
}
